.navbar { padding: 0px 0px !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.cardPorcentaje{
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  width: 91%;
}
.borderNone{
  padding: 0;
  border: none;
  background: none;
}
.family{
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  text-align: center;
}
.familyButton{
  font-family: 'Rubik', sans-serif;
}
.tabs{
  margin:0 auto;
  position: relative;
  width: 100%;
  margin-left: 13%;
}

.gambeta{
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  outline: none;
  text-align: center;
}
.gambeta:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}
.opcionesGenerales{
  display: flex;
  align-items: flex-start;
}
.alignButton {
  text-align: left;
}
.graficasDistribucion{
  display: flex;
  flex-direction: row;
}

.tablaEmpleados{
  display: flex;
  justify-content: space-evenly;
  margin-left: 3%;
  width: 95%;

  flex-direction: row;
}
.distribucion{
  display: flex;
  flex-direction: row;
}

.spaceButtons{
  display: flex;
  align-items: flex-start;
}
.modalVideo{
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  justify-content: center;

}
.row{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

