.navbar { padding: 0px 0px !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.cardPorcentaje{
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
}

.tablaEmpleados{
  display: flex;
  justify-content: space-evenly;
  margin-left: 2%;
  width: 100%;
  flex-direction: row;
}
.distribucion{
  display: flex;
  flex-direction: row;
}

.spaceButtons{
  display: flex;
  align-items: flex-start;
}
.modalVideo{
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  justify-content: center;

}
.row{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

