.navbar { padding: 0px 0px !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.cardPorcentaje{
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
}

.tablaEmpleados{
  display: flex;
  justify-content: space-evenly;
  margin-left: 3%;
  width: 100%;
  flex-direction: row;
}

