.carousel {
    overflow:hidden;
    width: 100%;
    min-height: 100%;
    position:relative;
  }

  .navbar{
    margin-bottom: 60px;
  }

  .tabs {
    display: flex;
    width:"100%";
    justify-content: center;
  }

  .ant-card-body {
    padding: 5px;
}
.card {
  width:"100%";
  padding: 25px;
}
